### Easy string manipulation

In [1]:
x = 'a string'
y = "a string"
if x == y:
    print("they are the same")

they are the same

In [2]:
fox = "tHe qUICk bROWn fOx."

To convert the entire string into upper-case or lower-case, you can use the ``upper()`` or ``lower()`` methods respectively:

In [3]:
fox.upper()

'THE QUICK BROWN FOX.'

In [4]:
fox.lower()

'the quick brown fox.'

A common formatting need is to capitalize just the first letter of each word, or perhaps the first letter of each sentence.
This can be done with the ``title()`` and ``capitalize()`` methods:

In [5]:
fox.title()

'The Quick Brown Fox.'

In [6]:
fox.capitalize()

'The quick brown fox.'

The cases can be swapped using the ``swapcase()`` method:

In [7]:
fox.swapcase()

'ThE QuicK BrowN FoX.'

In [8]:
line = '         this is the content         '
line.strip()

'this is the content'

To remove just space to the right or left, use ``rstrip()`` or ``lstrip()`` respectively:

In [9]:
line.rstrip()

'         this is the content'

In [10]:
line.lstrip()

'this is the content         '

To remove characters other than spaces, you can pass the desired character to the ``strip()`` method:

In [11]:
num = "000000000000435"
num.strip('0')

'435'

In [12]:
line = 'the quick brown fox jumped over a lazy dog'
line.find('fox')

16

In [13]:
line.index('fox')

16

In [14]:
line[16:21]

'fox j'

The only difference between ``find()`` and ``index()`` is their behavior when the search string is not found; ``find()`` returns ``-1``, while ``index()`` raises a ``ValueError``:

In [15]:
line.find('bear')

-1

In [16]:
line.index('bear')

ValueError: substring not found

In [17]:
line.partition('fox')

('the quick brown ', 'fox', ' jumped over a lazy dog')

The ``rpartition()`` method is similar, but searches from the right of the string.

The ``split()`` method is perhaps more useful; it finds *all* instances of the split-point and returns the substrings in between.
The default is to split on any whitespace, returning a list of the individual words in a string:

In [18]:
line_list = line.split()
print(line_list)

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'a', 'lazy', 'dog']

In [19]:
print(line_list[1])

quick

A related method is ``splitlines()``, which splits on newline characters.
Let's do this with a Haiku, popularly attributed to the 17th-century poet Matsuo Bashō:

In [0]:
haiku = """matsushima-ya
aah matsushima-ya
matsushima-ya"""

haiku.splitlines()

Note that if you would like to undo a ``split()``, you can use the ``join()`` method, which returns a string built from a splitpoint and an iterable:

In [20]:
'--'.join(['1', '2', '3'])

'1--2--3'

A common pattern is to use the special character ``"\n"`` (newline) to join together lines that have been previously split, and recover the input:

In [21]:
print("\n".join(['matsushima-ya', 'aah matsushima-ya', 'matsushima-ya']))

matsushima-ya
aah matsushima-ya
matsushima-ya

In [24]:
pi = 3.14159
str(pi)

'3.14159'

In [27]:
print ("The value of pi is " + pi)

TypeError: can only concatenate str (not "float") to str

Pi is a float number so it must be transform to sting.

In [28]:
print( "The value of pi is " + str(pi))

The value of pi is 3.14159

A more flexible way to do this is to use *format strings*, which are strings with special markers (noted by curly braces) into which string-formatted values will be inserted.
Here is a basic example:

In [29]:
"The value of pi is {}".format(pi)

'The value of pi is 3.14159'

### Easy regex manipulation!

In [30]:
import re

In [31]:
line = 'the quick brown fox jumped over a lazy dog'

With this, we can see that the ``regex.search()`` method operates a lot like ``str.index()`` or ``str.find()``:

In [32]:
line.index('fox')

16

In [33]:
regex = re.compile('fox')
match = regex.search(line)
match.start()

16

Similarly, the ``regex.sub()`` method operates much like ``str.replace()``:

In [34]:
line.replace('fox', 'BEAR')

'the quick brown BEAR jumped over a lazy dog'

In [35]:
regex.sub('BEAR', line)

'the quick brown BEAR jumped over a lazy dog'

The following is a table of the repetition markers available for use in regular expressions:

| Character | Description | Example |
|-----------|-------------|---------|
| ``?`` | Match zero or one repetitions of preceding  | ``"ab?"`` matches ``"a"`` or ``"ab"`` |
| ``*`` | Match zero or more repetitions of preceding | ``"ab*"`` matches ``"a"``, ``"ab"``, ``"abb"``, ``"abbb"``... |
| ``+`` | Match one or more repetitions of preceding  | ``"ab+"`` matches ``"ab"``, ``"abb"``, ``"abbb"``... but not ``"a"`` |
| ``.`` | Any character | ``.*`` matches everything | 
| ``{n}`` | Match ``n`` repetitions of preeeding | ``"ab{2}"`` matches ``"abb"`` |
| ``{m,n}`` | Match between ``m`` and ``n`` repetitions of preceding | ``"ab{2,3}"`` matches ``"abb"`` or ``"abbb"`` |

In [36]:
bool(re.search(r'ab', "Boabab"))

True

In [37]:
bool(re.search(r'.*ma.*', "Ala ma kota"))

True

In [38]:
bool(re.search(r'.*(psa|kota).*', "Ala ma kota"))

True

In [39]:
bool(re.search(r'.*(psa|kota).*', "Ala ma psa"))

True

In [40]:
bool(re.search(r'.*(psa|kota).*', "Ala ma chomika"))

False

In [44]:
zdanie = "Ala ma kota."
wzor = r'.*' #pasuje do każdego zdania
zamiennik = r"Ala ma psa."

In [45]:
re.sub(wzor, zamiennik, zdanie)

'Ala ma psa.Ala ma psa.'

In [46]:
wzor = r'(.*)kota.'
zamiennik = r"\1 psa."

In [47]:
re.sub(wzor, zamiennik, zdanie)

'Ala ma  psa.'

In [48]:
wzor = r'(.*)ma(.*)'
zamiennik = r"\1 posiada \2"

In [49]:
re.sub(wzor, zamiennik, zdanie)

'Ala  posiada  kota.'